header #login{
	
	float: right;
	margin-right: 50px;
	margin-top: 80px;
}

#home{
	
	color:black;
	text-decoration: none;
	
}

header #title{
	
	float:left;
	margin-left: 50px;
	margin-top: 50px;
	
}

header h3{
	
	
	text-align: center;
	margin: 5px;
}

header{
	
	
	overflow: hidden;
	height:200px;	
	
}


header h1{
	
	font-size: 3em;
	margin:10px;
	text-align: center;
	
	
}

header h2{
	
	font-size: 1.5em;
		text-align: center;
	
}

header{
	
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}