table{
    margin-top:46px;
	font-family:"Helvetica", Arial, Helvetica, sans-serif;
    width:100%;
    background: #f0f0f0;
    font-weight: 100;
    border: 1px solid #ccc;
}

table td, th{
	
	border: 1px solid #fff;
	height:30px;
	font-size: 15px;

}

table th{
	background-color: #ccc;
	color: white;
	height:70px;
}

table tr.even{
background-color: #ccc;

}

table td{
	text-align: center;
}
